* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-gap: 10px;
  width: 100vw;
  height: 100vh;
  grid-template:
    "header header header header" 25px
    "left-side main right1 right2" /
    0.5fr 1fr 0.5fr 0.1fr;
}

.header {
  background-color: aqua;
  grid-area: header;
}
.left-side {
  background-color: lightcoral;
  grid-area: left-side;
}
.main {
  background-color: lightsalmon;
  grid-area: main;
}
.right1 {
  background-color: lightgreen;
  grid-area: right1;
}
.right2 {
  background-color: lightgrey;
  grid-area: right2;
}

/* Ipad */
@media screen and (max-width: 1024px) {
  .container {
    display: grid;
    grid-gap: 10px;
    /* width: 100vw; */
    height: 100vh;
    grid-template:
      "header header header" 25px
      "left-side main right1"
      "right2 right2 right2" 25px/
      0.5fr 1fr 0.5fr;
  }
}

/* Iphone */

@media screen and (max-width: 500px) {
  .container {
    display: grid;
    grid-gap: 5px;
    width: 100vw;
    height: 100vh;
    grid-template:
      "header" 25px
      "main"
      "left-side" 25px
      "right1" 25px
      "right2 " 25px;
  }
}
